{{define "message"}}
403: Non hai accesso a questo documento
{{end}}

{{define "explanation"}}
<p>
Questo documento non &egrave; ancora aperto al pubblico, ed il tuo utente non &egrave; autorizzato a vederlo.
</p>

<p>
Puoi provare a:
<ul>
  <li>Effettuare il login come un altro utente qua di fianco</li>
  <li>Richiedere accesso ai proprietari del documento</li>
</ul>
</p>

{{end}}
