<!DOCTYPE html>




<!--[if IE 8]><html lang="it_IT" class="no-js ie89 ie8"><![endif]-->
<!--[if IE 9]><html lang="it_IT" class="no-js ie89 ie9"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="it_IT" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="8IbTZ-PnSdvOnC8S4q-wjSiZ2B-90cVugO04xMu6vug">
  <title>Progressi subentro dei Comuni in ANPR | ANPR</title>

  <!-- Begin Jekyll SEO tag v2.3.0 -->
  <meta property="og:title" content="Subentro dei Comuni in ANPR" />
  <meta property="og:locale" content="it_IT" />
  <link rel="canonical" href="/static/" />
  <meta property="og:url" content="/static/" />
  <meta property="og:site_name" content="ANPR Dashboard" />
  <script type="application/ld+json">
    {
      "name": "ANPR Dashboard",
      "description": null,
      "author": null,
      "@type": "WebSite",
      "url": "/static/",
      "image": null,
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type": "ImageObject",
          "url": "/static/assets/images/logo-it.svg"
        }
      },
      "headline": "Subentro dei Comuni in ANPR",
      "dateModified": null,
      "datePublished": null,
      "sameAs": null,
      "mainEntityOfPage": null,
      "@context": "http://schema.org"
    }
  </script>
  <!-- End Jekyll SEO tag -->






  <link rel="alternate" hreflang="it" href="/" />


  <link rel="alternate" type="application/rss+xml" title="ANPR Dashboard" href="/static/feed.xml">
  <link rel="preload" href="/static/assets/toolkit/IWT.min.js" as="script">

  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/static/assets/toolkit/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="/static/assets/iwt/build.css">
  <link media="all" rel="stylesheet" href="/static/assets/main.css">
  <!--
  <link media="all" rel="stylesheet" href="/static/assets/minical/jquery.minical.css">
-->
  <link media="all" rel="stylesheet" href="/static/assets/autocomplete/easy-autocomplete.min.css">
  <link media="all" rel="stylesheet" href="/static/assets/autocomplete/easy-autocomplete.themes.min.css">



  <script src="/static/assets/toolkit/vendor/jquery.min.js"></script>
  <script src="/static/assets/autocomplete/jquery.easy-autocomplete.min.js"></script>
  <style>
    .easy-autocomplete {
      width: 75% !important;
    }

    .easy-autocomplete input {
      box-shadow: none;
      color: inherit;
      float: none;
      border: 1px solid #ccc;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: inherit;
      display: block;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      padding: .5em;
      width: 100%;
    }
  </style>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/assets/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/assets/icons/manifest.json">
  <link rel="mask-icon" href="/static/assets/icons/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="/static/assets/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="ANPR Dashboard">
  <meta name="application-name" content="ANPR Dashboard">
  <meta name="msapplication-config" content="/static/assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#0066cc">

</head>

<body class="t-Pac">

  <ul class="Skiplinks js-fr-bypasslinks u-hiddenPrint">
    <li><a href="#main">vai ai contenuti</a></li>
  </ul>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all" aria-hidden="true">
    <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">
      Questo sito utilizza cookie tecnici, analytics e di terze parti. Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
    </p>
    <p>
      <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
      <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
    </p>
  </div>



  <header class="Header u-hiddenPrint anpr_form u-background-50 u-flex u-flexCol">
    <div class="Header-banner u-backround-none">
      <div class="Header-owner">
        <div class="u-floatRight">
          <a class="u-color-white u-linkClean u-textWeight-600" href="/auth/email/logout">Logout</a>
        </div>
      </div>
    </div>
    <div class="Header-navbar u-backround-none">
      <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter">
        <div class="Header-logo Grid-cell" aria-hidden="true">
          <a href="/" tabindex="-1">
          <img src="/static/assets/images/logo-it.svg" alt="">
        </a>
        </div>
        <div class="Header-title Grid-cell">
          <h1 class="Header-titleLink">
          <a href="/">ANPR
            <br><small>Dashboard</small>
          </a>
        </h1>
        </div>

      </div>
    </div>
    <!-- Header-navbar -->
  </header>


  <div class="Page-container u-layout-wide u-layoutCenter u-background-grey-15" id="main">




    <div class="Page-title u-text">
      <div class="Title u-layout-r-withGutter u-posRelative u-zindex-30 u-background-grey-15">
        <h1 class="u-text-r-xl u-color-white u-padding-top-l u-lineHeight-l">
  <span class="u-cf u-color-50">
    <strong class="u-textWeight-600">Tabella Progressi Subentro dei Comuni in ANPR</strong>
    <br />

  </span>
</h1>
      </div>

    </div>
    <section class="Content u-layout-r-withGutter u-padding-top-xxl u-padding-bottom-xxl u-posRelative u-zindex-30">
      <div class="Grid">
        <div class="Grid-cell u-sizeFull">
          <div class="Prose">
          <p>Questa sezione mostra i comuni che hanno già una data di subentro pianificata</p>
          <p>Torna alla pianificazione dei <a href="subentro">subentri</a></p>
          <p>
           
            Il simbolo <span class="Icon Icon-warning"></span>  indica comuni che non hanno fatto il presubentro o non hanno ritirato le SC o che non le hanno disponibili in Prefettura mentre  
            <span class="Icon Icon-checkbox-checked"> </span> quelli che hanno tutto per poter subentrare

          </p>
          </div>

          <!--
            form ricerca per dataa 
          -->

          <form class="Form Form--spaced">

              <fieldset class="Form-fieldset">
                <legend class="Form-legend">Seleziona un range di date <span id="comuneSubentro">date</span></legend>
                <div class="Grid Grid--withGutter">
                  <div class="Grid Grid--withGutter Grid-cell u-sizeFull">
                    <div class="Grid-cell u-sizeFull">
                      <label class="Form-label is-required">Intervallo date</label>
                    </div>
                    <div class="Grid-cell u-sizeFull u-md-size3of4 u-lg-size3of4">
                          <div class="u-inlineBlock">
                            <div class="Form-field u-flex u-flexAlignItemsCenter">
                              <label class="Form-label is-required u-margin-top-xxs u-margin-right-xs" for="interval-from">Da</label>
                              <input type="text" class="Form-input js-Datepicker" id="interval-from" name="interval-from" aria-describedby="info-interval-from">
                              <div role="tooltip" class="in-flex" id="info-interval-from">nel formato GG/MM/ANNO</div>
                            </div>
                          </div>
                          <div class="u-inlineBlock">
                            <div class="Form-field u-flex u-flexAlignItemsCenter">
                              <label class="Form-label is-required u-margin-top-xxs u-margin-right-xs" for="interval-to">A</label>
                              <input type="text" class="Form-input js-Datepicker" id="interval-to" name="interval-to" aria-describedby="info-interval-to">
                              <div role="tooltip" class="in-flex" id="info-interval-to">nel formato GG/MM/ANNO</div>
                            </div>
                          </div>
                          <div class="u-inlineBlock">
                              <fieldset class="Form-field Form-field--choose Grid-cell">
                                <label class="Form-label" for="withFinalDate">
                                <input type="checkbox" class="Form-input" id="withFinalDate" aria-required="true" required>
                                <span class="Form-fieldIcon" role="presentation"></span> Con data pianificata
                                </label>
                              </fieldset>
                          </div>
                      </div>
                      <div class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
                          <div class="u-inlineBlock">
                              <a class="Button Button-default" id="search-interval">Cerca</a>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
                <h2 class="u-text-h3" id="totali" style="display: none">
                    <span class="totalComuni"></span> comuni e <span class="totalPopulation"></span> abitanti nell'intervallo selezionato
                  </h2>
               
                <div class="Grid Grid--withGutter u-margin-top-xl" id="comuni" >
                    
                    
                    <table class="Table Table--withBorder js-TableResponsive  Table--striped Table--hover u-background-white  u-text-xxs" data-tablesaw-mode="stack">
                        <caption class="u-hiddenVisually">Comuni pianificati</caption>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"></th>
                                <th scope="col">Comune /<br/>Popolazione</th>
                                <th scope="col">Fornitore</th>
                                <th scope="col">Presubentro</th>
                                
                               <!-- <th scope="col">Pref.Abilitata</th>-->
                                <th scope="col">Data Scelta</th>
                                <th scope="col">Da</th>
                                <th scope="col">A</th>
                                <th scope="col">N. SC Consegnate</th>
                                <th scope="col">SC Consegnate il</th>
                                <th scope="col">SC Ritirate il</th>
                                <th scope="col">Postazioni</th>
                                <th scope="col">Utenti</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="comuniTableBody">
                    
                            
                    
                        </tbody>
                    </table>
                  </div>
                </fieldset>
                </form>
          <div class="u-margin-bottom-xxl">

            <div id="loading" style="display:none">
              <img src="/static/assets/images/ajax-loader.gif" />
            </div>

            <!---Update operation -->
            <div id="msg" style="display:none" class="infoMessage">
              <div class="Prose Alert Alert--success Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
                <h2 class="u-text-h3">
                      Operazione eseguita con successo
                    </h2>
              </div>
            </div>
            <div id="error" style="display:none" class="infoMessage">
            <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
              <h2 class="u-text-h3">
                  Si sono verificati uno o più errori:
              </h2>
              <p class="u-text-p">Delectus non est dolore omnis dolorem. Dolor non saepe in minus sit provident cupiditate blanditiis. Libero explicabo magnam sequi molestias quos. Consequatur modi et facere aut repudiandae omnis.</p>
            </div>
          </div>


          </div>

          </div>


        </div>
      </div>
    </section>

  </div>

  <a href="#" title="torna all'inizio dei contenuti" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio dei contenuti</span>
</a>

<!--TOOLTIP
      <span id="tooltip_id_" data-menu class="Dropdown-menu u-borderShadow-m u-background-teal-70 u-color-white u-layout-prose
        u-padding-r-all u-borderRadius-l">
        <span class="Icon-drop-down Dropdown-arrow u-color-teal-70"></span>
        <span class="u-layout-prose u-text-r-xs">
          <ul>
          <li>SmartCard Consegnate {SMC} </li>
          <li>SmartCard Ritirate {SMR}</li> 
          <li>IP settato {IP}</li>
          <li>Prefettura Abilitato {PA}<</li>
        </ul>
        </span>
        </span>

-->

  <footer class="Footer u-background-95">
    <div class="u-layout-r-withGutter">
      <div class="Grid Grid--withGutter Grid--alignMiddle u-padding-top-xl">
      </div>
    </div>
  </footer>

  <!--[if IE 8]>
 <script src="/static/assets/toolkit/vendor/respond.min.js"></script>
 <script src="/static/assets/toolkit/vendor/rem.min.js"></script>
 <script src="/static/assets/toolkit/vendor/selectivizr.js"></script>
 <script src="/static/assets/toolkit/vendor/slice.js"></script>
 <![endif]-->

  <!--[if lte IE 9]>
 <script src="/static/assets/toolkit/vendor/polyfill.min.js"></script>
<![endif]-->

  <script src="/static/assets/iwt/IWT.min.js"></script>
  <script src="/static/assets/subentro_rout6.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pikaday@1.7.0/pikaday.min.js"></script>
  <script>

    Date.prototype.isValid = function () {
    // An invalid date object returns NaN for getTime() and NaN is the only
    // object not strictly equal to itself.
    return this.getTime() === this.getTime();
    };

    var comuniTemplati= $(".comuniTemplate").html();
    console.log(comuniTemplati)
    $(document).ready(function() {

      const numberWithDots = (x) => {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      }

      var toogleWaiting = function() {
        $("#loading").hide();
        $("#msg").fadeIn();
      }

      var searchComuniByDate = function(datefrom, dateTo) {
        $("#loading").show();
        $("#totali").hide();
        searchFilter = {}
        searchFilter.comune = {}
        searchFilter.comune.Subentro={}
        
        searchFilter.comune.Subentro.From=  {
            Time: subentro.getDateFromValue(datefrom).toISOString(),
            Valid: true
        }
        
        searchFilter.comune.Subentro.To=  {
            Time: subentro.getDateFromValue(dateTo).toISOString(),
            Valid: true
        }

        var hasFinalDate = $("#withFinalDate").is(":checked");
        var exclusionType = hasFinalDate?1:2;

        searchFilter.exclusion = {
          ExclusionType:exclusionType
        }
        
        orderType = hasFinalDate?2:4
        searchFilter.order={
          OrderType:orderType
        }
        
        //console.log(JSON.stringify(searchFilter))
        $.ajax({
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify(searchFilter),
          success: function(response) {
            $("#loading").hide();
            $(".comuniTableBody").html("");
            comuni = response.data
            $("#comments").html("");
            //var template =$("#tooltip_id_")[0].outerHTML;
            var popolazioneTotale=0;
            if(comuni){
              for(i = 0; i<comuni.length;i++){
                comune = comuni[i]
                var emptyIfNull = function(v){
                  if (v) {
                    return v;
                  } else {
                    return "";
                  }
                }
                var formatteDateOrEmpy = function(v){
                  var dateFinal = v? subentro.dateFormat(new Date(v)):"";
                  return dateFinal;
                }
                popolazioneTotale+=comune.Population;
                var s  = "<tr>";
               // var icon = "<a href=\"#tooltip"+(i+1)+"\" class=\"Tooltip-toggle u-textClean\" data-menu-trigger=\"tooltip\"><span class=\"u-text-r-l Icon Icon-warning\" style=\"color:\"red\"></span></a>";
               alttext = !comune.IPProvenienza ? "IP non settato ":"";
               //alttext += !comune.AbilitazionePrefettura ? " Prefettura Non Abilitata ":"";
               alttext += !comune.DataRitiroSm ? " SM non ritirate ":"";
               alttext += !comune.DataConsegnaSm ? " SM non consegnate al comune ":"";
               alttext += !comune.DataPresubentro ? " Il comune non ha un effettuato il PreSubentro ":"";
        
               
              
               var icon = "<a href=\"javascript:void();\" title=\""+alttext+"\"><span class=\"u-text-r-l Icon Icon-warning\" style=\"color:\"red\"></span></a>";

                if(comune.DataConsegnaSm && comune.DataRitiroSm && comune.IPProvenienza && comune.AbilitazionePrefettura && comune.DataPresubentro ){
                  icon  = "<span class=\"u-text-r-l Icon Icon-checkbox-checked\"></span>";
                }
                

                s +="<td>"+(i+1)+"</td>"; 
                s +="<td>"+icon+" </td>"; 
                s +="<td>"+comune.Name+"<br/><b>"+numberWithDots(comune.Population)+"</b></td>"; 
                s +="<td>"+comune.Fornitore.Name+"</td>";  
                s +="<td>"+formatteDateOrEmpy(comune.DataPresubentro)+"</td>"; 
                s +="<td>"+formatteDateOrEmpy(comune.Subentro.PreferredDate)+"</td>";  
                s +="<td>"+subentro.dateFormat(new Date(comune.Subentro.From))+"</td>";  
                s +="<td>"+subentro.dateFormat(new Date(comune.Subentro.To))+"</td>";  
                s +="<td>"+emptyIfNull(comune.SCConsegnate)+"</td>";  
                s +="<td>"+formatteDateOrEmpy(comune.DataConsegnaSm)+"</td>";  
                s +="<td>"+formatteDateOrEmpy(comune.DataRitiroSm)+"</td>"; 
                s +="<td>"+emptyIfNull(comune.Postazioni)+"</td>";  
                s +="<td>"+emptyIfNull(comune.UtentiAbilitati)+"</td>";  
                s +="<td>";
                s += "<a href='/status?id="+comune.CodiceIstat+"' >"
                s += "<img src='static/assets/icons/gauge_icon.png' id='gauge' border=0>"
                s += "</a>"
                s +="</td>";
                s +="</tr>";    
                
               
                $("#totali").show();
                $(".comuniTableBody").append(s)
                $(".totalPopulation").html(popolazioneTotale.toLocaleString("it", { minimumFractionDigits:0 }))
                $(".totalComuni").html(comuni.length)
              }
            } else {
              $("#error").show();
              $("#error p").html("Non ci sono comuni pianificati per quelle date")
              $("#loading").hide();
            }
          },
          error: function() {
            $("#loading").hide();
            console.log("Error searching for comuni for filter " + searchFilter);
          },
          processData: false,
          type: 'POST',
          url: '/comune/search'
        });
    };

    $("#search-interval").click(function(){
      $("#error").hide();
      var interval_from = $("#interval-from").val()
      var interval_to= $("#interval-to").val()      
      searchComuniByDate(interval_from, interval_to);
    })
    searchComuniByDate("01/01/2017", "31/12/2019");
  });
  </script>

</body>

</html>
