<!DOCTYPE html>




<!--[if IE 8]><html lang="it_IT" class="no-js ie89 ie8"><![endif]-->
<!--[if IE 9]><html lang="it_IT" class="no-js ie89 ie9"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="it_IT" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="8IbTZ-PnSdvOnC8S4q-wjSiZ2B-90cVugO04xMu6vug">
  <title>Progressi subentro dei Comuni in ANPR | ANPR</title>

  <!-- Begin Jekyll SEO tag v2.3.0 -->
  <meta property="og:title" content="Subentro dei Comuni in ANPR" />
  <meta property="og:locale" content="it_IT" />
  <link rel="canonical" href="/static/" />
  <meta property="og:url" content="/static/" />
  <meta property="og:site_name" content="ANPR Dashboard" />
  <script type="application/ld+json">
    {
      "name": "ANPR Dashboard",
      "description": null,
      "author": null,
      "@type": "WebSite",
      "url": "/static/",
      "image": null,
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type": "ImageObject",
          "url": "/static/assets/images/logo-it.svg"
        }
      },
      "headline": "Subentro dei Comuni in ANPR",
      "dateModified": null,
      "datePublished": null,
      "sameAs": null,
      "mainEntityOfPage": null,
      "@context": "http://schema.org"
    }
  </script>
  <!-- End Jekyll SEO tag -->






  <link rel="alternate" hreflang="it" href="/" />


  <link rel="alternate" type="application/rss+xml" title="ANPR Dashboard" href="/static/feed.xml">
  <link rel="preload" href="/static/assets/toolkit/IWT.min.js" as="script">

  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/static/assets/toolkit/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="/static/assets/iwt/build.css">
  <link media="all" rel="stylesheet" href="/static/assets/main.css">
  <!--
  <link media="all" rel="stylesheet" href="/static/assets/minical/jquery.minical.css">
-->
  <link media="all" rel="stylesheet" href="/static/assets/autocomplete/easy-autocomplete.min.css">
  <link media="all" rel="stylesheet" href="/static/assets/autocomplete/easy-autocomplete.themes.min.css">



  <script src="/static/assets/toolkit/vendor/jquery.min.js"></script>
  <script src="/static/assets/autocomplete/jquery.easy-autocomplete.min.js"></script>
  <script src="/static/gauge.min.js"></script>
  <style>
    .easy-autocomplete {
      width: 75% !important;
    }

    .easy-autocomplete input {
      box-shadow: none;
      color: inherit;
      float: none;
      border: 1px solid #ccc;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: inherit;
      display: block;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      padding: .5em;
      width: 100%;
    }
  </style>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/assets/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/assets/icons/manifest.json">
  <link rel="mask-icon" href="/static/assets/icons/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="/static/assets/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="ANPR Dashboard">
  <meta name="application-name" content="ANPR Dashboard">
  <meta name="msapplication-config" content="/static/assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#0066cc">

</head>

<body class="t-Pac">

  <ul class="Skiplinks js-fr-bypasslinks u-hiddenPrint">
    <li><a href="#main">vai ai contenuti</a></li>
  </ul>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all" aria-hidden="true">
    <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">
      Questo sito utilizza cookie tecnici, analytics e di terze parti. Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
    </p>
    <p>
      <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
      <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
    </p>
  </div>



  <header class="Header u-hiddenPrint anpr_form u-background-50 u-flex u-flexCol">
    <div class="Header-banner u-backround-none">
      <div class="Header-owner">
        <div class="u-floatRight">
          <a class="u-color-white u-linkClean u-textWeight-600" href="/auth/email/logout">Logout</a>
        </div>
      </div>
    </div>
    <div class="Header-navbar u-backround-none">
      <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter">
        <div class="Header-logo Grid-cell" aria-hidden="true">
          <a href="/" tabindex="-1">
          <img src="/static/assets/images/logo-it.svg" alt="">
        </a>
        </div>
        <div class="Header-title Grid-cell">
          <h1 class="Header-titleLink">
          <a href="/">ANPR
            <br><small>Dashboard</small>
          </a>
        </h1>
        </div>

      </div>
    </div>
    <!-- Header-navbar -->
  </header>


  <div class="Page-container u-layout-wide u-layoutCenter u-background-grey-15" id="main">




    <div class="Page-title u-text">
      <div class="Title u-layout-r-withGutter u-posRelative u-zindex-30 u-background-grey-15">
        <h1 class="u-text-r-xl u-color-white u-padding-top-l u-lineHeight-l">
        <span class="u-cf u-color-50">
          <strong class="u-textWeight-600">Stato Anomalie Pre-Subentro <span id="comuneName"></span></strong>
        </span>
        </h1>
      </div>
    </div>
    <section class="Content u-layout-r-withGutter u-padding-top-xs u-padding-bottom-xxl u-posRelative u-zindex-30">
      <div class="Grid">
        <div class="Grid-cell u-sizeFull">

          <div id="error" style="display:none;text-align:center;width:100%;line-height: 200px;">
            
            <h1 style="display: inline-block;vertical-align: middle;"></h1>
          </div>
          <!--
            TODO: Qui il look&feel della pagina da costruire
          -->

          <div class="Grid Grid--withGutter u-margin-top-xl" id="comuni" >
            <table class="Table Table--withBorder js-TableResponsive u-background-white  u-text-xxs" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th scope="col" width=35%> </th>
                        <th scope="col" width=65%> </th>
                    </tr>
                </thead>
                <tbody>            
                    <tr>
                      <td style="vertical-align:top; text-align:center"> 
                        <canvas width=380 height=150 id="gauge"></canvas>
                        <div id="gauge-textfield"></div>
                      </td>
                      <td> 
                        <table class="Table Table--withBorder js-TableResponsive  Table--hover u-background-white  u-text-xxs" data-tablesaw-mode="stack">
                            <thead>
                                <tr>
                                    <th scope="col"><u><h3> Anomalia <h3></u></th>
                                    <th scope="col"><u><h3> N° </h3></u></th>
                                </tr>
                            </thead>
                            <tbody class="comuneStatusPanel">

                            </tbody>                                      
                        </table>
                      </td>
                    </tr>
            
                </tbody>
            </table>
          </div>

          <div class="Prose">
              <br/>
              <p>Torna alla vista <input action="action" onclick="window.history.go(-1); return false;" type="button" value="precedente" /></p>
          </div>

          <div class="u-margin-bottom-xxl">

            <div id="loading" style="display:none">
              <img src="/static/assets/images/ajax-loader.gif" />
            </div>

          </div>

          </div>


        </div>
      </div>
    </section>

  </div>

  <a href="#" title="torna all'inizio dei contenuti" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio dei contenuti</span>
</a>

  <footer class="Footer u-background-95">
    <div class="u-layout-r-withGutter">
      <div class="Grid Grid--withGutter Grid--alignMiddle u-padding-top-xl">
      </div>
    </div>
  </footer>

  <!--[if IE 8]>
 <script src="/static/assets/toolkit/vendor/respond.min.js"></script>
 <script src="/static/assets/toolkit/vendor/rem.min.js"></script>
 <script src="/static/assets/toolkit/vendor/selectivizr.js"></script>
 <script src="/static/assets/toolkit/vendor/slice.js"></script>
 <![endif]-->

  <!--[if lte IE 9]>
 <script src="/static/assets/toolkit/vendor/polyfill.min.js"></script>
<![endif]-->

  <script src="/static/assets/iwt/IWT.min.js"></script>
  <script src="/static/assets/routine.js"></script>
  <script>

    var comuniTemplati= $(".comuniTemplate").html();
    console.log(comuniTemplati)
    $(document).ready(function() {

      var findGetParameter = function(parameterName) {
        var result = null,
        tmp = [];
        location.search
          .substr(1)
          .split("&")
          .forEach(function (item) {
            tmp = item.split("=");
            if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
          });
        return result;
      }

      var toogleWaiting = function() {
        $("#loading").hide();
        $("#msg").fadeIn();
      }

      var showError = function(msg) {
        $("#error").show();
        $("#error h1").html(msg)
        $("#loading").hide();
        $("#comuni").hide();
      }

      const numberWithDots = (x) => {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      }

      var searchAnomalie = function(CodiceIstat) {
        if (!CodiceIstat) {
          showError("Ops, qualcosa è andato storto!")
          return;
        }
        $("#loading").show();
        searchFilter = {};
        
        searchFilter.CodiceIstat = CodiceIstat;
                 
        $.ajax({
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify(searchFilter),
          success: function(response) {
            $("#loading").hide();
            $(".comuniTableBody").html("");
            anomalie = response.anomalia
            if(anomalie && anomalie.length > 0){
              nomeComune = anomalie[0].Name
              $("#comuneName").html("Comune di " + nomeComune);
              var popolazione = anomalie[0].Population;
              classe = "";
              var totAnomalie = 0;
              var bloccanti = 0;
              Blockers = ['EC032', 'EC053', 'ES092'];

              for(i = 0; i<anomalie.length;i++){
                anomalia = anomalie[i]

                var emptyIfNull = function(v){
                  if (v){return v;}
                  else{
                    return "";
                  }
                }

                // TODO: qui la grafica del gauge e delle info sulle anomalie

                if (classe != anomalia.ClassAnomalia) {
                  classe = anomalia.ClassAnomalia
                  var t = "<tr><td colspan=2><b>"+anomalia.ClassAnomalia+"</b></td></tr>";
                  $(".comuneStatusPanel").append(t)
                }

                var s  = "<tr>";
                if (Blockers.indexOf(anomalia.Code)!=-1) {
                  bloccanti+=parseInt(anomalia.Number);
                  textColor = 'red';
                } else {
                  textColor = 'black';
                }
                  
                s +="<td><p style='padding-left:20px;color:"+textColor+"'>"+anomalia.Description+"</p></td>"; 
                s +="<td style='text-align:right;color:"+textColor+"'>"+numberWithDots(anomalia.Number)+"</td>";  
                s +="</tr>";  
              
                totAnomalie+=parseInt(anomalia.Number);
                

                $(".comuneStatusPanel").append(s)
              }

              var s  = "<tr>";
                s +="<td style='text-align:right'><h2>TOTALE ANOMALIE</h2></td>"; 
                s +="<td style='text-align:right'>"+numberWithDots(totAnomalie)+"</td>";  
                s +="</tr>";  
                $(".comuneStatusPanel").append(s)

              var score = Math.round((100-(totAnomalie/popolazione*100))*10);
              if (score < 0) score = 0;

              //Gauge setup
              var opts = {
                angle: 0, // The span of the gauge arc
                lineWidth: 0.35, // The line thickness
                radiusScale: 1, // Relative radius
                pointer: {
                  length: 0.5, // // Relative to gauge radius
                  strokeWidth: 0.035, // The thickness
                  color: '#000000' // Fill color
                },
                limitMax: false,     // If false, max value increases automatically if value > maxValue
                limitMin: false,     // If true, the min value of the gauge will be fixed
                colorStart: '#FF0000',   // Colors
                colorStop: '#8FC0DA',    // just experiment with them
                strokeColor: '#E0E0E0',  // to see which ones work best for you
                generateGradient: true,
                highDpiSupport: true,     // High resolution support
                staticZones: [
                  {strokeStyle: "#F03E3E", min: 0, max: 300}, // Red till 300
                  {strokeStyle: "#FFDD00", min: 300, max: 800}, // Yellow
                  {strokeStyle: "#30B32D", min: 800, max: 1000}, // Green
                ],
                //percentColors = [[0.0, "#a9d70b" ], [0.50, "#f9c802"], [1.0, "#ff0000"]]                        
              };

              var target = document.getElementById('gauge'); // your canvas element
              var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
              gauge.maxValue = 1000; // set max gauge value
              gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
              gauge.animationSpeed = 32; // set animation speed (32 is default value)

  
              var t = "<h1>";
              if (bloccanti>0) {
                score = 150;
                t+= "SCORE: 150/1000";
                t+= "<br/><font color='red'>Anomalie bloccanti: " + bloccanti + "</font>";                
              } else {
                t+= "SCORE: "+score+"/1000";
              }
              t+= "</h1></br><br/>";
              t+= "<h3>Popolazione " + nomeComune + ": " + numberWithDots(popolazione) + "</h3>"

              $("#gauge-textfield").append(t)

              gauge.set(score); // set actual value

            } else {
              showError("Non ci sono informazioni per questo comune")
            }           
          },
          error: function() {
            showError("Ops, qualcosa è andato storto!")
            console.log("Error searching for anomalie for filter " + searchFilter);
          },
          processData: false,
          type: 'POST',
          url: '/comune/status'
        });
       
      };
      searchAnomalie(findGetParameter("id"));

    });
  </script>

</body>

</html>
