<!DOCTYPE html>




<!--[if IE 8]><html lang="it_IT" class="no-js ie89 ie8"><![endif]-->
<!--[if IE 9]><html lang="it_IT" class="no-js ie89 ie9"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="it_IT" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="8IbTZ-PnSdvOnC8S4q-wjSiZ2B-90cVugO04xMu6vug">
  <title>Subentro dei Comuni in ANPR | ANPR</title>

  <!-- Begin Jekyll SEO tag v2.3.0 -->
  <meta property="og:title" content="Subentro dei Comuni in ANPR" />
  <meta property="og:locale" content="it_IT" />
  <link rel="canonical" href="/static/" />
  <meta property="og:url" content="/static/" />
  <meta property="og:site_name" content="ANPR Dashboard" />
  <script type="application/ld+json">
    {
      "name": "ANPR Dashboard",
      "description": null,
      "author": null,
      "@type": "WebSite",
      "url": "/static/",
      "image": null,
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type": "ImageObject",
          "url": "/static/assets/images/logo-it.svg"
        }
      },
      "headline": "Subentro dei Comuni in ANPR",
      "dateModified": null,
      "datePublished": null,
      "sameAs": null,
      "mainEntityOfPage": null,
      "@context": "http://schema.org"
    }
  </script>
  <!-- End Jekyll SEO tag -->






  <link rel="alternate" hreflang="it" href="/" />


  <link rel="alternate" type="application/rss+xml" title="ANPR Dashboard" href="/static/feed.xml">
  <link rel="preload" href="/static/assets/toolkit/IWT.min.js" as="script">

  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="/static/assets/toolkit/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="/static/assets/iwt/build.css">
  <link media="all" rel="stylesheet" href="/static/assets/main.css">
  <!--
  <link media="all" rel="stylesheet" href="/static/assets/minical/jquery.minical.css">
-->
  <link media="all" rel="stylesheet" href="/static/assets/autocomplete/easy-autocomplete.min.css">
  <link media="all" rel="stylesheet" href="/static/assets/autocomplete/easy-autocomplete.themes.min.css">



  <script src="/static/assets/toolkit/vendor/jquery.min.js"></script>
  <script src="/static/assets/autocomplete/jquery.easy-autocomplete.min.js"></script>
  <style>
    .easy-autocomplete {
      width: 75% !important;
    }

    .easy-autocomplete input {
      box-shadow: none;
      color: inherit;
      float: none;
      border: 1px solid #ccc;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: inherit;
      display: block;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      padding: .5em;
      width: 100%;
    }
  </style>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/assets/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/assets/icons/manifest.json">
  <link rel="mask-icon" href="/static/assets/icons/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="/static/assets/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="ANPR Dashboard">
  <meta name="application-name" content="ANPR Dashboard">
  <meta name="msapplication-config" content="/static/assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#0066cc">

</head>

<body class="t-Pac">

  <ul class="Skiplinks js-fr-bypasslinks u-hiddenPrint">
    <li><a href="#main">vai ai contenuti</a></li>
  </ul>

  <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all" aria-hidden="true">
    <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">
      Questo sito utilizza cookie tecnici, analytics e di terze parti. Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
    </p>
    <p>
      <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
      <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
    </p>
  </div>



  <header class="Header u-hiddenPrint anpr_form u-background-50 u-flex u-flexCol">
    <div class="Header-banner u-backround-none">
      <div class="Header-owner">
        <div class="u-floatRight">
          <a class="u-color-white u-linkClean u-textWeight-600" href="/auth/email/logout">Logout</a>
        </div>
      </div>
    </div>
    <div class="Header-navbar u-backround-none">
      <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter">
        <div class="Header-logo Grid-cell" aria-hidden="true">
          <a href="/" tabindex="-1">
          <img src="/static/assets/images/logo-it.svg" alt="">
        </a>
        </div>
        <div class="Header-title Grid-cell">
          <h1 class="Header-titleLink">
          <a href="/">ANPR
            <br><small>Dashboard</small>
          </a>
        </h1>
        </div>
      </div>
    </div>
    <!-- Header-navbar -->
  </header>


  <div class="Page-container u-layout-wide u-layoutCenter u-background-grey-15" id="main">




    <div class="Page-title u-text">
      <div class="Title u-layout-r-withGutter u-posRelative u-zindex-30 u-background-grey-15">
        <h1 class="u-text-r-xl u-color-white u-padding-top-l u-lineHeight-l">
  <span class="u-cf u-color-50">
    <strong class="u-textWeight-600">Subentro dei Comuni in ANPR</strong>
    <br />

  </span>
</h1>
      </div>

    </div>
    <section class="Content u-layout-r-withGutter u-padding-top-xxl u-padding-bottom-xxl u-posRelative u-zindex-30">
      <div class="Grid">
        <div class="Grid-cell u-sizeFull">
          <div class="Prose">
          <p>Questa sezione consente alle software house di fornire all’Anagrafe Nazionale Popolazione Residente (ANPR) due informazioni relative a ciascun Comune gestito: la prima è l’intervallo temporale all’interno del quale si prevede che avverrà il subentro (ad es. 10 novembre 2017- 30 novembre 2017); la seconda è la data fissata per il subentro.</p>
              <p>Se non trovi un comune tra questi invia una mail a <a href="mailto:segnalazioni-anpr@teamdigitale.governo.it">segnalazioni-anpr@teamdigitale.governo.it</a></p>
              <p>Clicca qui per vedere i tuoi comuni con una data di subentro già <a href="progressi">pianificata</a> </p>

          </div>

          <div class="Prose Alert Alert--info Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert" >
            Numero di comuni aggiornati
            <h2 class="u-text-h3" id="comuniAggiornati">

          </h2>
            <p class="u-text-p">Ricordati di usare la funzionalità di updoad e download del file CSV</p>
          </div>
          <div class="u-margin-bottom-xxl">
            <div class="Prose">
              <h2>Cerca un Comune e inserisci direttamente le date di subentro</h2>

            </div>
            <form class="Form u-margin-bottom-xxl">
              <div class="Form-field Form-field--withPlaceholder Grid" role="search">
                <input class="Form-input Grid-cell u-sizeFill u-borderHideFocus" id="cercaComuni" required name="">
                <label class="Form-label u-color-grey-50" for="cerca"></label>
                <button class="Grid-cell u-sizeFit Icon-search Icon--rotated u-color-white u-background-50 u-padding-all-xs u-textWeight-700" title="Avvia la ricerca" aria-label="Avvia la ricerca"></button>
              </div>
              <div id="checkListForComune" style="display:none" class="Callout Callout--could u-text-r-xs u-text-r-xxs u-margin-top-m" >

                <table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-stack" data-tablesaw-mode="stack">
    <caption class="u-hiddenVisually">maiores eius et</caption>
    <thead>
        <tr>
            <th scope="col">Codice Istat</th>
            <th scope="col">Data Abilitazione</th>
            <th scope="col">Data Ultimo Presubentro</th>
            <th scope="col">Data Consegna SC (Prefettura)</th>
            <th scope="col">Data Ritiro SC (Comune)</th>
            <th scope="col">Numero Lettori Consegnati</th>
            <th scope="col">Numero Smart Card Consegnate</th>
            <th scope="col">Numero Postazioni</th>
            <th scope="col">Utenti Abilitati</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>

        <tr class="checkListComuneDati">

        </tr>

    </tbody>
</table>
              </div>

            </form>



            <div id="loading" style="display:none">
              <img src="/static/assets/images/ajax-loader.gif" />
            </div>

            <!---Update operation -->
            <div id="msg" style="display:none" class="infoMessage">
              <div class="Prose Alert Alert--success Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
                <h2 class="u-text-h3">
                      Operazione eseguita con successo
                    </h2>
              </div>
            </div>
            <div id="error" style="display:none" class="infoMessage">
            <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
              <h2 class="u-text-h3">
                  Si sono verificati uno o più errori:
              </h2>
              <p class="u-text-p">Delectus non est dolore omnis dolorem. Dolor non saepe in minus sit provident cupiditate blanditiis. Libero explicabo magnam sequi molestias quos. Consequatur modi et facere aut repudiandae omnis.</p>
            </div>
          </div>
            <!---Update operation -->
           
            <div id="formSubentroComune"  style="display:none">
            <form class="Form Form--spaced">
               <!--Form errors-->
               <div class="Alert Alert--warning Alert--withIcon u-margin-r-bottom" role="alert" id="alert-msg" style="display:none">
                  <p class="u-text-p" id="comuni_info_text">
                     
                  </p>
                </div>
               <!--Form errors--> 
              <fieldset class="Form-fieldset">
                <legend class="Form-legend">Comune di <span id="comuneSubentro">Matera</span></legend>
                <div class="Grid Grid--withGutter">
                  <div class="Grid Grid--withGutter Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                    <div class="Grid-cell u-sizeFull">
                      <label class="Form-label is-required">Intervallo date</label>
                    </div>
                    <div class="Grid-cell u-sizeFull">
                      <div class="u-inlineBlock">
                        <div class="Form-field u-flex u-flexAlignItemsCenter">
                          <label class="Form-label is-required u-margin-top-xxs u-margin-right-xs" for="interval-from">Da</label>
                          <input type="text" class="Form-input js-Datepicker" id="interval-from" name="interval-from" aria-describedby="info-interval-from">
                          <div role="tooltip" class="in-flex" id="info-interval-from">nel formato GG/MM/ANNO</div>
                        </div>
                      </div>
                      <div class="u-inlineBlock">
                        <div class="Form-field u-flex u-flexAlignItemsCenter">
                          <label class="Form-label is-required u-margin-top-xxs u-margin-right-xs" for="interval-to">A</label>
                          <input type="text" class="Form-input js-Datepicker" id="interval-to" name="interval-to" aria-describedby="info-interval-to">
                          <div role="tooltip" class="in-flex" id="info-interval-to">nel formato GG/MM/ANNO</div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="Form-field Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
                    <label class="Form-label is-required u-sizeFull" for="comune">Data preferita</label>
                    <input type="text" class="Form-input js-Datepicker" id="interval-at" name="interval-at" aria-describedby="info-interval-at">
                    <div role="tooltip" id="info-interval-at">nel formato GG/MM/ANNO</div>
                    
                  </div>
                  
                  {{/* IP FORM
                  <div class="Form-field Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
                    <label class="Form-label is-required u-sizeFull" for="ip">IP</label>
                    <input type="text" class="Form-input" id="ip" name="ip" aria-describedby="info-interval-at">
                    <div role="tooltip" id="info-interval-at">nel formato 1.1.1.1</div>
                  </div>
                  */}}
                
                  <div class="Form-field Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
                    <label class="Form-label is-required u-sizeFull" for="comune"></label>

                    <a class="Button Button--default" id="updateSubentro"><span class="u-margin-right-xs"></span>Salva</a>
                  </div>
                    
                </div>
               
              </fieldset>
              
              


            </form>
            <div id="info">
              <div class="Prose" role="info">
                <h4 class="u-text-h3">
                      Per le date é necessario usare il formato DD/MM/YYYY (Giorno/Mese/Anno)

                    </h4>
                    <ul>
                        <li>La data minima deve essere ad almeno <strong>20 giorni dalla data odierna nel caso il comune non abbia effettuato il presubentro o le smartcard non siano arrivate in prefettura</strong>, altrimenti <strong>5 giorni</strong></li>
                        <li>Il range temporale non può superare i 30 giorni di ampiezza</li>
                        <li>La data preferita può essere aggiornata successivamente</li>
                        <li>Il sistema accetta un numero massimo di <strong>50 comuni e 3 Milioni di abitanti</strong> al giorno</li>
                        </ul>
              </div>
            </div>

            <!-- COMMENTS -->
    <div id="commentSection">
      <form class="Form Form--spaced">
        <fieldset class="Form-fieldset">
          <legend class="Form-legend">Commenti</legend>
          <div class="Grid">
            <div class="Form-field Grid-cell u-sizeFull">
              <label class="Form-label" for="commentText">Varie ed eventuali <small>(opzionale)</small></label>
              <textarea class="Form-input Form-textarea u-sizeFull" id="commentText"></textarea>
              <a class="Button Button--default u-margin-top-s" id="updateComment">Salva</a>
            </div>
          </div>
          <div class="Grid Grid--withGutter u-margin-top-xl" id="comments">
            <div class="commentsTemplate">
            <div class="Grid Grid-cell">
              <div class="Grid-cell u-sizeFill">{date} - {author}</div>
              <div class="Grid-cell u-size1of12 u-textRight"><button type="button" class="Button Button--danger u-text-r-xs" onclick="comments.deleteComment({id})">&times;</button></div>
            </div>
            <div class="Grid Grid-cell u-margin-bottom-l u-border-bottom-xxs u-padding-bottom-l" >
              <div class="Grid-cell u-sizeFill">{text}</div>
            </div>
          </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- COMMENTS -->
          </div>

          </div>


          <div class="u-margin-bottom-xxl">
            <div class="Prose">
              <h2>Carica file CSV con le date di subentro</h2>
              <p>Consigliato se gestisci molti Comuni.</p>
              <p>
                Scarica template CSV per inserire i dati o per aggiornarli, se li avevi inseriti in precedenza.
                Carica il file con i dati di subentro.
                <strong>Le date vuote verranno ignorate</strong>
              </p>
              <p>Download il <a href="/downloadpianosubentro?detailed_records=true">CSV dettagliato</a></p>
            </div>
            <form class="Form" id="csv-upload-form">
              <div class="Grid">
                <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-margin-bottom-xxl u-textCenter">
                  <a class="Button Button--default" href="/downloadpianosubentro"><span class="Icon Icon-download u-margin-right-xs"></span>Download CSV</a>
                </div>

                
                <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-margin-bottom-xxl u-textCenter">
                  <div class="Form-field">
                    <div class="Form-field">
                      <button class="Button Button--default" id="uploadSubentro" onclick="return false"><span class="Icon Icon-upload u-margin-right-xs"></span>Upload CSV</button>
                      <input type="file" name="csv" id="csv" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>

  </div>

  <a href="#" title="torna all'inizio dei contenuti" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio dei contenuti</span>
</a>

  <footer class="Footer u-background-95">
    <div class="u-layout-r-withGutter">
      <div class="Grid Grid--withGutter Grid--alignMiddle u-padding-top-xl">
      </div>
    </div>
  </footer>

  <!--[if IE 8]>
 <script src="/static/assets/toolkit/vendor/respond.min.js"></script>
 <script src="/static/assets/toolkit/vendor/rem.min.js"></script>
 <script src="/static/assets/toolkit/vendor/selectivizr.js"></script>
 <script src="/static/assets/toolkit/vendor/slice.js"></script>
 <![endif]-->

  <!--[if lte IE 9]>
 <script src="/static/assets/toolkit/vendor/polyfill.min.js"></script>
<![endif]-->

  <script src="/static/assets/iwt/IWT.min.js"></script>

  <script src="/static/assets/subentro_rout6.js"></script>
  <script>

var commentsTemplate = $(".commentsTemplate").html();
Utils = {
  isValidIP:function(anIP){
    //test an IP expression
    var regex = /^(?!0)(?!.*\.$)((1?\d?\d|25[0-5]|2[0-4]\d)(\.|$)){4}$/;
    return regex.test(anIP);

  }

}
$(document).ready(function() {


var toogleWaiting = function() {
  $("#loading").hide();
  $("#msg").fadeIn();
}

//data: '{"fornitore": {"Name":"MAGGIOLI"}}',
var searchComuni = function() {
  $("#loading").show();
  $.ajax({
    contentType: 'application/json',
    data: '{}',
    dataType: 'json',
    success: function(response) {
      $("#loading").hide();
      subentro.comuni = response.data.filter(function(o) {
       
        return true;
      })
      subentro.showComuniAggiornati()
      subentro.initAutoComplete()


    },
    error: function() {
      $("#loading").hide();
      console.log("Error searching for comuni for filter " + searchFilter);
    },
    processData: false,
    type: 'POST',
    url: '/comune/search'
  });
}

$("#updateSubentro").on("click", function() {


  var getIsoDateFromField = function(anObjId) {
    val = subentro.getDateFromValue($("#" + anObjId + "").val());
    console.log(val)
    if(val.isValid()){
      return val.toISOString();
    }
  }
  subentro.comune.Subentro = {
    From: {
      Time: getIsoDateFromField("interval-from"),
      Valid: true
    },
    To: {
      Time: getIsoDateFromField("interval-to"),
      Valid: true
    },

  }
  if(getIsoDateFromField("interval-at") ){

  subentro.comune.Subentro.PreferredDate=  {
      Time: getIsoDateFromField("interval-at"),
      Valid: true
    }
  }
  var ip = $("#ip").val();
  console.log("Tring to set ip to ", ip)
  if(ip&&Utils.isValidIP(ip)) {
    subentro.comune.Subentro.IP=  {
      String: ip,
      Valid: true
    }


  }

  $("#loading").show();
  $("#formSubentroComune").hide()

  $.ajax({
    url: "/comune/update",
    type: 'PUT',
    data: JSON.stringify(subentro.comune),
    contentType: 'json',
    
    success: function(o) {
      console.log("Update for comuni ", o)
      toogleWaiting();
      index = subentro.getComuneIndexById(subentro.comune.Id)
      console.log("Index of new comune aggiornato " + index)
      subentro.comuni[index].Subentro.From = new Date(getIsoDateFromField("interval-from"));
      subentro.comuni[index].Subentro.To = new Date(getIsoDateFromField("interval-to"));
      subentro.comuni[index].Subentro.URL =ip;
      dateFinal= new Date(getIsoDateFromField("interval-at"))
      if(dateFinal.isValid()){
        subentro.comuni[index].Subentro.PreferredDate = dateFinal
      }
      subentro.showComuniAggiornati()
      subentro.initAutoComplete()

    },
    error: function(data) {
      console.log(data)
      $("#loading").hide()
      $("#error").show();
      $("#error p").html(JSON.parse(data.responseText).error);
     // index = subentro.getComuneIndexById(subentro.comune.Id)
     // subentro.comuni[index].Subentro.From = ""
     // subentro.comuni[index].Subentro.To = ""
     // subentro.comuni[index].Subentro.PreferredDate = ""
      
      subentro.showComuniAggiornati()
      subentro.initAutoComplete()
    }
  });
})


$("#cercaComuni").on("keydown", function() {
  $(".infoMessage").fadeOut();
})
$("#cercaComuni").on("click", function() {
  $(".infoMessage").fadeOut();
  $(this).val("");
})
//Upload CSV

$("#uploadSubentro").on("click", function() {

  if ($("#csv").val() != "") {
    $("#loading").hide();
    $.ajax({
      url: '/uploadpianosubentro',
      data: new FormData(document.getElementById("csv-upload-form")),
      cache: false,
      contentType: false,
      processData: false,
      type: 'PUT',
      success: function(data) {
        searchComuni();
        toogleWaiting();

      },
      error: function(data) {
        console.log(data)
        $("#error").show()
        $("#error p").html(data.responseJSON.error)

      }
    });
  }
})




//Update Comment
  $("#updateComment").on("click", function() {
    
    console.log("call update comment")
    $.ajax({
      url: "/comune/updateComment",
      type: 'PUT',
      data: JSON.stringify({
         comune:subentro.comune
        ,content:$("#commentText").val()
      }),
      contentType: 'json',

      success: function(o) {
        $("#commentText").val("")
        comments.searchComments();

      }
    })//end Ajax
  });
//Search Comments
comments = {
  deleteComment:function(idComment){
    $.ajax({
      url: "/comune/deleteComment",
      type: 'POST',
      data: JSON.stringify({id:idComment,comune:subentro.comune}),
      contentType: 'json',

      success: function(o) {
        comments.searchComments()
      }
    });//end Ajax
  },//end deleteComment
  searchComments:function(){

    $.ajax({
      url: "/comune/searchComments",
      type: 'POST',
      data: JSON.stringify(subentro.comune),
      contentType: 'json',

      success: function(o) {

        $("#comments").html("");
        console.log("Presenti " +o.comment.length + " per il comune")
        for(i = 0; i<o.comment.length;i++){
          comment = o.comment[i]
          var text = commentsTemplate.replace("{content}",comment.Content)
           text = text.replace("{author}",comment.Author)
           text = text.replace("{date}",subentro.dateFormat(new Date(comment.Date)))
           text = text.replace("{text}",comment.Content)
           text = text.replace("{id}",comment.Id)

          $("#comments").append(text)

        }
      }
    });//end Ajax
}
}//end search comment

  searchComuni();

 //Handle IP 
 $("#ip").on("focusout",
      function(){  
        form_value= $(this).val();
        if(form_value.length>1&&!Utils.isValidIP(form_value)){ 
          
          $("#alert-msg").show()
          $("#alert-msg>p").html("Il formato dell'indirizzo IP deve essere del tipo 1.1.1.1")
          
        }
         else{
          $("#alert-msg").hide();
          $("#alert-msg>p").html(""); 
          
         }  
        });


   

   
  $("#interval-at").on("change", function(){
    $("#loading").show();
    $("#alert-msg").hide();
    var newDateString = $(this).val();
    $.get("api/getSubentroInfo/"+$(this).val(), function( data ) {
     $("#comuni_info_text").show();
     $("#comuni_info_text").html("Il " +newDateString+"  sono stati già pianificati <strong>"+data.Comuni+" comuni</strong>. Disponibilita' residua: <strong>"+(50-data.Comuni)+"</strong>");
     $("#alert-msg").show();
     $("#loading").hide();
    });  
  });       

});



  </script>







</body>

</html>
